{% extends 'main_layout.html' %}

{% block content %}

<div class="container">
    <h1>All Users</h1>
    <table class="table table-hover">
        <thead>
            <th>Is Active</th>
            <th>Username</th>
            <th>Role</th>
            <th>&nbsp;</th>
        </thead>

        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.is_active }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.role }}</td>
                <td><button class="badge bg-success text-white" onclick="editUser(this)">Edit</button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}

{% block js %}

<script>

    function editUser(that) {
        const myParentNode = that.parentNode.parentNode
        that.innerText = "Save"
        that.setAttribute("class", "badge  bg-primary text-white")
        that.setAttribute("onclick", "saveUser(this)")
        let user = myParentNode.children[1].innerText
        function checkbox(isChecked) {
            return `<div class='form-check'><input class='form-check-input' type='checkbox' id='userActive' ${isChecked}><label class='form-check-label' for='userActive'>Is Active</label></div>`
        }
        if (myParentNode.children[0].innerText == "True") {
            myParentNode.children[0].innerHTML = checkbox("checked")
        } else {
            myParentNode.children[0].innerHTML = checkbox("");
        }
    }

    async function saveUser(that) {
        const myParentNode = that.parentNode.parentNode;

        let user = myParentNode.children[1].innerText
        let role = myParentNode.children[2].innerText
        let active = document.getElementById("userActive").checked

        
        const button = `<button class="badge bg-success text-white" onclick="editUser(this)">Edit</button>`

        const data = {
            'token': "{{ token }}",
            'is_active': active,
            'username': user,
            'role': role
        }
        let res = await fetch('/approve_user/edit_user', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        });
        // console.log(await res.json())
        const myData = await res.json()
        if (myData.type === 'error') {
            console[myData.type](myData.value)
        }
        else if (myData.type === "warn") {
            console[myData.type](myData.value)
            myParentNode.children[0].innerHTML = "True"
            myParentNode.children[3].innerHTML = button
        }
        else {
            console[myData.type](myData.value)
            if (active) {
                myParentNode.children[0].innerHTML = "True"
            } else {
                myParentNode.children[0].innerHTML = "False"
            }
            myParentNode.children[3].innerHTML = button
        }
    }

</script>

{% endblock js %}